<div id="container">
  <div id="navbar">
    <div>
      <ul id="nav-ul">
        <li
          [routerLink]="['/']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span nz-icon nzType="home" nzTheme="outline"></span>
          Home
        </li>
        <li [routerLink]="['/posts']" routerLinkActive="active">
          <span nz-icon nzType="container" nzTheme="outline"></span>
          Ricette
        </li>
        <li [routerLink]="['/prova1']" routerLinkActive="active">
          <span nz-icon nzType="picture" nzTheme="outline"></span>
          Gallery
        </li>
        <li [routerLink]="['/top-members']" routerLinkActive="active">
          <span nz-icon nzType="crown" nzTheme="outline"></span>
          Top Members
        </li>
      </ul>
    </div>
    <div id="logo-container">
      <img id="logo" src="../../../assets/img/logo-no-background.png" alt="" />
    </div>
    <div>
      <ul>
        <li [routerLink]="['/login']" routerLinkActive="active">Log in</li>
        <li [routerLink]="['/signup']" routerLinkActive="active">Sign up</li>
      </ul>
    </div>
  </div>
</div>
