#member-container{
  overflow-y: scroll;
  height: 100%;
  background-image: url('../../../assets/img/bgTopMember.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 25px ;
}
#member-container::-webkit-scrollbar{
  display: none;
}
img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 0.5px solid black;
}
#stelle-user{
  display: none;
}
#top-card{
  position: relative;
  width: 600px;
  height: 100px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  box-shadow: 3px 3px black;
  padding: 10px;
  background: linear-gradient(95deg, rgba(221,216,216,0.8) 45%, rgba(8,8,8,0.8) 100%);
  &:hover{
    transform: scale(1.05);
  }
  div{
    h6{
      font-size: 3em;
      margin-bottom: 0;
    }
    p{
      margin-bottom: 0;
      color: white;
      font-weight: 600;
    }
  }
}
@media only screen and (max-width:767px) {
  #top-card{
    width: 400px;
    height: 80px;
    div{
      h6{
        font-size: 2em;
      }
      p{
        display: none;
      }
    }
  }
  img{
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width:424px) {
 #stelle{
  display: none;
 }
 #stelle-user{
  display: unset;
  line-height: 0.8em;
 }
 img{
  width: 70px;
  height: 70px;
 }
}
