<div id="member-container" nz-row>
  <div
    id="top-card"
    nz-col
    [nzXXl]="{ span: 10, offset: 7 }"
    [nzXl]="{ span: 10, offset: 7 }"
    [nzLg]="{ span: 18, offset: 3 }"
    [nzSm]="{ span: 20, offset: 2 }"
    [nzXs]="{ span: 22, offset: 1 }"
  >
    <div>
      <img
        src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80"
      />
    </div>
    <div>
      <h6>Username</h6>
      <nz-rate id="stelle-user" [ngModel]="2" nzDisabled></nz-rate>
    </div>
    <div id="stelle">
      <nz-rate [ngModel]="2" nzDisabled></nz-rate>
      <p>X SCORE OVER Y REVIEWS</p>
    </div>
  </div>
</div>
