<div class="container">
  <form #form="ngForm" (ngSubmit)="submit()" id="form">
      <div ngModelGroup="formPost" class="form-group">
        <div class="form-group bb">
          <label id="cTitle" for="title">Edit your Title</label>
          <input
            nz-input
            type="text"
            id="titleInput"
            name="title"
            #title="ngModel"
            [ngModel]="postInterface.title"
            required
          />
        </div>

        <div class="form-group bb">
          <label id="cPost" for="post">Edit your Post</label>
          <textarea
            id="postInput"
            rows="4"
            nz-input
            type="text"
            name="post"
            #post="ngModel"
            [ngModel]="postInterface.post"
            required
          ></textarea>
        </div>

        <div id="buttons">
          <button nz-button id="sendPost" nzType="primary" nzShape="round">
            Edit<span nz-icon nzType="send" nzTheme="outline"></span>
          </button>
          <button nz-button id="addImage">
            <span nz-icon nzType="file-add" nzTheme="outline"></span>
          </button>
          <button nz-button id="back"><span nz-icon nzType="rollback" nzTheme="outline"></span></button>
        </div>
      </div>
    </form>
  </div>
