<div class="container">
<form #form="ngForm" (ngSubmit)="submit()" id="form">
    <div ngModelGroup="formPost" class="form-group">
      <div class="form-group bb">
        <label id="cTitle" for="title">Title</label>
        <input
          nz-input
          type="text"
          id="title"
          name="title"
          #title="ngModel"
          [ngModel]="postInterface.title"
          required
        />
      </div>

      <div *ngIf="img" class="form-group bb">
        <label id="cTitle" for="imgUrl">Url img</label>
        <input
          nz-input
          id="imgUrl"
          type="text"
          name="imgUrl"
          #ingredients="ngModel"
          [(ngModel)]="postInterface.imgUrl"
        />
      </div>

      <div class="form-group bb">
        <label id="cTitle" for="ingredients">Ingredients</label>
        <input
          nz-input
          id="ingredients"
          type="text"
          name="ingredients"
          #ingredients="ngModel"
          [(ngModel)]="postInterface.ingredients"
          required
        />
      </div>

      <div class="form-group bb">
        <label id="cPost" for="method">Method</label>
        <textarea
        id="method"
          rows="2"
          nz-input
          type="text"
          name="method"
          #method="ngModel"
          [(ngModel)]="postInterface.method"
          required
        ></textarea>
      </div>

      <div class="form-group bb">
        <label id="cPost" for="description">Description</label>
        <textarea
          id="description"
          rows="2"
          nz-input
          type="text"
          name="description"
          #description="ngModel"
          [(ngModel)]="postInterface.description"
          required
        ></textarea>
      </div>

      <div id="buttons">
        <button  [disabled]="!form.valid" nz-button id="sendPost" nzType="primary" nzShape="round">
          Post<span nz-icon nzType="send" nzTheme="outline"></span>
        </button>

        <button type="button"  (click)="imgToggle()" nz-button id="addImage" nzType="primary" nzShape="circle">
          <span nz-icon nzType="file-add" nzTheme="outline"></span>
        </button>

        <button type="button" nz-button id="back" [routerLink]="['/posts']"><span nz-icon nzType="rollback" nzTheme="outline"></span></button>
      </div>
    </div>
  </form>
</div>
