.container{
  background-image: url('../../../assets/background.jpg');
  height: 100vh;
}


#form{

  font-family: 'Roboto', sans-serif;
  margin: 130px 0 0 480px;
  div{
    display: flex;
    flex-direction: column;
    label{
      font-size: 1.7em;
      font-weight: 500;
      color: rgb(207,22,17)
    }
    #buttons{
      display: flex;
      width: 700px;
      flex-direction: row-reverse;


      margin-top: 5px;
      button{
       margin-right: 9px;
      }
    }
  }
}


#addImage{
  width: 35px;
  &:hover{
    transform: scale(1.1);
    font-weight: 500;
}
}
#sendPost{
  width: 100px;
  &:hover{
    background-color: green;
    transform: scale(1.1);
  }
}

#postInput{
  width: 700px;
  height: 300px;
  border-radius: 5px;
  background-color: whitesmoke;

}
#titleInput{
  width: 700px;
  border-radius: 5px;
  background-color: whitesmoke;
  margin-bottom: 10px;
}
