<div class="container">
<form #form="ngForm" (ngSubmit)="submit()" id="form">
    <div ngModelGroup="formPost" class="form-group">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          nz-input
          type="text"
          id="titleInput"
          name="title"
          #title="ngModel"
          [ngModel]="postInterface.title"
          required
        />
      </div>

      <div class="form-group">
        <label for="post">Post</label>
        <textarea
          id="postInput"
          rows="4"
          nz-input
          type="text"
          name="post"
          #post="ngModel"
          [ngModel]="postInterface.post"
          required
        ></textarea>
      </div>

      <div id="buttons">
        <button nz-button id="sendPost" nzType="primary" nzShape="round">
          Post<span nz-icon nzType="send" nzTheme="outline"></span>
        </button>
        <button nz-button id="addImage" nzType="primary" nzShape="circle">
          <span nz-icon nzType="file-add" nzTheme="outline"></span>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col" *ngIf="print">
      <h3>{{userPost.name}}</h3>
      <h3>{{userPost.title}}</h3>
      <h3>{{userPost.post}}</h3>
    </div>
  </div>
</div> -->
