<button nz-button nzType="primary">Primary Button</button>

<!-- <nz-table #middleTable nzSize="middle" [nzData]="posts">
  <thead>
    <tr nz-row>
      <th nz-col nzSpan="1">Id</th>
      <th nz-col nzSpan="18">Titolo</th>
      <th nz-col nzSpan="5">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts"><td nz-col="4"><app-card [post]="post"></app-card></td></tr>
  </tbody>
</nz-table> -->

<nz-table nzTemplateMode>
  <thead>
    <tr nz-row>
      <th nz-col nzSpan="1">Id</th>
      <th nz-col nzSpan="19">Titolo</th>
      <th nz-col nzSpan="4">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts"><td style="padding:0;"><app-card [post]="post"></app-card></td></tr>
  </tbody>
</nz-table>

